<section>
  <h1>About Me</h1>
  <p>My name is Vladimir Rybas.<br/>
  I'm a Ruby developer, living in Bangkok</p>
  <div class="gravatar">
    <img src="https://avatars2.githubusercontent.com/u/30538?s=120" alt="Gravatar of Vladimir Rybas" title="Gravatar of Vladimir Rybas" />
  </div>
  <div>
    <a href="http://ru.linkedin.com/pub/vladimir-rybas/13/901/1a9" target="_blank"><img style="border: 0px; box-shadow: none; width: 130px; margin-top: 10px;" src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Vladimir Rybas's profile on LinkedIn"></a>
  </div>
  <div>
    <a href="https://www.odesk.com/users/~0181b71d645abc19db" target="_blank"><img style="border: 0px; box-shadow: none; width: 130px; margin-top: 10px;" src="../images/HireMeOnOdesk_normal.png"/></a>
  </div>
  <div style="width: 150px; margin-top: 10px;">
    <a href="https://github.com/vrybas" target="_blank" style="text-decoration: none;">github</a> | <a href="https://twitter.com/vrybas" target="_blank" style="text-decoration: none;">twitter</a> | <a href="mailto:vladimirrybas@gmail.com" target="_blank" style="text-decoration: none;">mail</a>
  </div>


</section>
