<section>
  <h1>About Me</h1>
  <p>My name is Vladimir Rybas.<br/>
  I'm a Ruby and Golang developer, living in Moscow</p>
  <div class="gravatar">
    <img height="130" width="130" src="https://avatars2.githubusercontent.com/u/30538?s=480" alt="Gravatar of Vladimir Rybas" title="Gravatar of Vladimir Rybas" />
  </div>
  <div>
    <a href="https://www.linkedin.com/in/vrybas" target="_blank"><img style="border: 0px; box-shadow: none; width: 130px; margin-top: 10px;" src="/images/follow-linkedin-btn.jpg" width="160" height="33" border="0" alt="View Vladimir Rybas's profile on LinkedIn"></a>
  </div>
  <div style="width: 150px; margin-top: 10px;">
    <a href="https://github.com/vrybas" target="_blank" style="text-decoration: none;">github</a> | <a href="https://twitter.com/vrybas" target="_blank" style="text-decoration: none;">twitter</a> | <a href="mailto:contact@vladimir-rybas.com" target="_blank" style="text-decoration: none;">email</a>
  </div>


</section>
